*{box-sizing: border-box;}
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  line-height:1.6;
  color:#221f1f;
  background-image: url(https://images6.alphacoders.com/307/thumb-1920-307966.jpg);
  
}
.site-header{
  background:#caa47b;
  border-bottom: 1px solid #2a147a;
  padding: 12px 16px;
  position: sticky;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  z-index: 100;
  color: #000000;
  opacity: 0.95;
  gap: 100%;
  justify-content: space-between;
}

.logo { 
  margin: 0 0 6px 0; 
  font-size: 20px; 
  
}
.nav { 
  display: flex; 
  gap: 20px; 
  flex-wrap: wrap; 
}
.nav a {
  margin-top: 10px;
  padding: 8px 16px;
  border: 2px solid rgb(67, 22, 109);
  text-decoration:none;
  color: #000000;
  border-radius: 20px;
  display: inline-block;
  margin: 4px;
  background: transparent;
  transition: 0.3s;
}
.nav a:hover { 
  scale: 1.1;
  background:rgb(67, 22, 109);  }
.social{
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  gap: 8px;
}
.section{
scroll-margin-top: 130px;
background:rgb(77, 125, 41);
color: #03090a;
margin: 30px auto;
padding: 16px;
/* border: 1px solid #7f5dff; */
width:100%;
height: 300px;
opacity: 0.6;
font-size: 19px;
}
.Profile-image{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 0px solid #333;
  object-fit: cover;
}
.section a{
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.section a:hover{
  color: #7f5dff;
}
.footer{
  color:#e8ecff;
  text-align: center;
  padding: 10px 0;
}
.section:hover{
/* scale: 1.02; */
/* background-color:#4db74d; */
transition: 0.2s;
/* border-radius: 3%; */
transform: translateY(-10px);
transition: 0.2s, box-shadow #000000 0.3s;
}
.Box{
  width: 24%;
  float: left;
  margin: 0.5%;
  background:url(https://png.pngtree.com/thumb_back/fh260/background/20251010/pngtree-futuristic-neon-tech-background-image_19824060.webp);
  background-size: cover;
  border: 2px solid #0b7285;
  height: 200px;
  text-align: center;
  line-height: 70px;
  color: #ffffff;
  /* position: relative; */
  opacity: 0.99;
}
.Box:hover{
  scale: 1.02;
  transition: 0.2s;
}
.Ed{
  width: 100%;
  border-radius: 0%;
  height: 450px;
  background-color: rgb(77, 125, 41);
  padding: 10px;
  border: 2px solid transparent;
  transition: all 0.2s;
  font-size: 19px;
  opacity: 0.6;
}
.Ed:hover{
/* scale: 1.02;
background-color:#4db74d; */
border-color: rgb(67, 22, 109);
/* border-radius: 3%; */
transform: translateY(-10px);
transition: 0.2s, box-shadow #000000 0.3s;
}
.Pro{
  width: 100%;
  border-radius: 0%;
  height: 320px;
  background-color: rgb(67, 22, 109);
  padding: 1px;
  border: 2px solid transparent;
  transition: all 0.2s;
  padding: 10px;
  color: white;
  opacity: 0.6;
  margin: 30px auto;
  justify-content: space-between;
}
.Pro:hover{
/* background-color:#4db74d; */
border-color: rgb(67, 22, 109);
/* border-radius: 3%; */
transform: translateY(-10px);
transition: 0.2s, box-shadow #000000 0.3s;
}
.Home{
  scroll-margin-top: 130px;
background:#caa47b;
color: rgb(67, 22, 109);
margin: 30px auto;
padding: 16px;
/* border: 1px solid #7f5dff; */
width:100%;
opacity: 0.6;
display: flex;
justify-content: space-between;
font-size: 24px;
}
.Home:hover{
  /* scale: 1.02; */
background-color:#4db74d;
transition: 0.2s;
/* border-radius: 3%; */
transform: translateY(-10px);
transition: 0.2s, box-shadow #000000 0.3s;
}
.box{
  width: 32.3%;
  float: left;
  margin: 0.5%;
  background:url(https://media.istockphoto.com/id/1803738710/video/electric-light-bulb-bright-polygonal-connections-on-a-dark-blue-background-technology-concept.jpg?s=640x640&k=20&c=wJSp2Nx4zYGUK2pDZAYu1pmDHEf2a68IApofN8njki8=);
  background-size: cover;
  border: 2px solid #0b7285;
  height: 200px;
  text-align: center;
  line-height: 70px;
  color: #4db74d;
  opacity: 0.99;
}
.box:hover{
  scale: 1.02;
  transition: 0.2s;
}